registry=https://pkgs.dev.azure.com/kmbl-devops/_packaging/kmbl-public-mirror/npm/registry/                     
always-auth=true

; begin auth token
//pkgs.dev.azure.com/kmbl-devops/_packaging/kmbl-public-mirror/npm/registry/:username=kmbl-devops
//pkgs.dev.azure.com/kmbl-devops/_packaging/kmbl-public-mirror/npm/registry/:_password=Q01uQ1lHREdaQ3JmT2lpbVVZMTdXdlREOUN4MmJZbGR5WktadWJBZmdnc1M2Y2d2SGFWNEpRUUo5OUNJQUNBQUFBQWw0a1dUQUFBU0FaRE8xZGw2
//pkgs.dev.azure.com/kmbl-devops/_packaging/kmbl-public-mirror/npm/registry/:email=npm requires email to be set but doesnt use the value
//pkgs.dev.azure.com/kmbl-devops/_packaging/kmbl-public-mirror/npm/:username=kmbl-devops
//pkgs.dev.azure.com/kmbl-devops/_packaging/kmbl-public-mirror/npm/:_password=Q01uQ1lHREdaQ3JmT2lpbVVZMTdXdlREOUN4MmJZbGR5WktadWJBZmdnc1M2Y2d2SGFWNEpRUUo5OUNJQUNBQUFBQWw0a1dUQUFBU0FaRE8xZGw2
//pkgs.dev.azure.com/kmbl-devops/_packaging/kmbl-public-mirror/npm/:email=npm requires email to be set but doesnt use the value
; end auth token
